include README.md
include CHANGELOG.md
include AGENTS.md
include LICENSE
include requirements.txt
recursive-include pykis *.py
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
exclude .gitignore
exclude *.yml
exclude *.yaml
exclude postman_collection.json 